.avatar-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent !important;
}

.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50% !important;
    /* background-color: blue; */
    margin-bottom: 10px;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
    color: white;
}

.avatar:hover {
    cursor: pointer;
}

.name-input {
    margin: 0;
    padding: 0;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: 0px solid #ccc;
    padding: 0 10px;
}

.name-input:focus {
    outline: none;
}