body {
    background-size: cover;
}

#feudContainer {
    margin: 5vh 6% 0;
    /* padding: 15%; */
    /* background-color: #000; */
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mainBox {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#feudBox {
    width: 100%;
    height: 85%;
    margin: 3vh 0px;
    background-color: green;
}

.teamBox {
    /* width: 10%; */
    height: auto;
    background-color: #e9ecef;
    /* padding: 5%; */
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}

.optionBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #dee2e6;
    border-radius: 10px;
    border: 5px solid #dee2e6;
}

#inputBox {
    width: 90%;
    height: 100%;
    background-color: yellow;
    background-color: #dee2e6;
}

#inputField {
    width: 100%;
    height: 95%;
    background-color: white;
    border: none;
    font-size: 1.0em;
    padding-left: 15px;
}

#inputField:focus {
    outline: none;
}

#okayBtn {
    height: 100%;
    width: 8%;
    background-color: orange;
    display: flex;
    justify-content: center;
}

#okayBtn div {
    margin: 10px;
}

#avatarBoxLeft,
#avatarBoxRight {
    padding: 15px;
    height: 80%;
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    align-self: center;
    cursor: pointer;
}

.btn #btnImg {
    background-color: aquamarine;
}

.btn img {
    width: 30px;
    height: 30px;
    margin: 1vh 15px 0;
}

#scorebarLeft,
#scorebarRight {
    /* width: 72%; */
    height: 11%;
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5vh 3vh 0 3vh;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

#feudBox {
    display: flex;
    flex-direction: column;
}

#questionBox {
    height: 10%;
    background-color: pink;
    /* put text in the center of box */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

#answerBox {
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: blueviolet;
    box-sizing: border-box;
    padding: 20px;
}